@import 'libs/_resetCSS';
@import 'libs/_fontello';

@import 'base/_variables';
@import 'base/_mixins';

*,
html,
body {
    color: $dark-color;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

section {
    background-color: $light-color;
}

.container {
    padding: 0 $container-padding-inline;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 5px 10px;
    width: 160px;
    height: 38px;
    font-weight: 100;
    font-size: 16px;
    color: $light-color;
    background: none;
    border: 1px solid $light-color;

    transition: all .3s ease-out;

    &:hover {
        box-shadow: 5px 5px 10px 0 rgba(255, 255, 255, 0.62);
        font-weight: 500;
    }
}

.keywords {
    position: absolute;
    left: 0;
    bottom: 0;

    display: flex;
    height: 20px;
    width: 100%;
    padding: 0 360px;
    justify-content: space-between;
    align-items: center;

    font-weight: 100;
    font-size: 10px;
    color: $light-color;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.12) 50%, rgba(255, 255, 255, 0.2) 100%);
}

.title {
    font-weight: 400;
    font-size: 40px;
    color: $dark-color;
    text-align: center;

    span {
        position: relative;

        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: -1px;
            right: 0;
            border: 1px solid #000;
            width: 75px;
        }
    }
}

@import 'blocks/_promo';
@import 'blocks/_about';
@import 'blocks/_works';
@import 'blocks/_inspiration';
@import 'blocks/_customers';
@import 'blocks/_footer';

@import '_media';